<div class="card" style="margin-bottom: 1rem;">
  <h1 class="card-header card-title">
    Add Friend
  </h1>
  <div class="card-body">
    <%= render 'form', friend: @friend %>
  </div>
</div>

<%=
  link_to 'Back',
  friends_path,
  class: "btn btn-dark"
%>
